.bottom-border {
    border-bottom: 1px solid;
    border-color: rgba(96, 165, 250, var(--tw-border-opacity));
}

.btn-bottom-border {
    border-bottom: 1px solid var(--color-text);
}

input {
    background-color: var(--color-blue-light);
    color: var(--color-text);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid var(--color-blue-light);
    border-radius: 0.5rem;
}

input::placeholder {
    color: var(--color-text);
}

.btn-login {
    background-color: var(--color-text);
    color: var(--color-blue-light);
}

.box{
    min-height: 24rem;
}